<template>
    <div class="auth">
        <Loading />
        <Nuxt />
    </div>
</template>

<script lang="ts">
    import { Vue, Component } from 'nuxt-property-decorator';
    import Loading from '@/components/layout/Loading.vue';
    @Component({
        components: {
            Loading,
        },
    })
    export default class Auth extends Vue {}
</script>

<style lang="scss">
    @import '~@/assets/scss/custom.scss';
</style>
