<template>
    <div class="default">
        <Loading />
        <transition name="error">
            <Error />
        </transition>
        <Navbar @sidebar="changeSidebarState" />
        <div
            class="default__grid"
            :class="{ 'default__grid--closed': !isSidebarOpen }"
        >
            <transition name="sidebar">
                <div class="default__sidebar-outer" v-show="isSidebarOpen">
                    <Sidebar :isOpen="isSidebarOpen" />
                </div>
            </transition>
            <div class="default__main">
                <Nuxt />
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import { Vue, Component } from 'nuxt-property-decorator';
    import Navbar from '@/components/layout/Navbar.vue';
    import Sidebar from '@/components/layout/Sidebar.vue';
    import Error from '@/components/layout/Error.vue';
    import Loading from '@/components/layout/Loading.vue';

    @Component({
        components: {
            Navbar,
            Sidebar,
            Error,
            Loading,
        },
    })
    export default class Default extends Vue {
        isSidebarOpen: boolean = true;

        changeSidebarState(value: boolean): void {
            this.isSidebarOpen = value;
        }
    }
</script>

<style lang="scss">
    .default {
        &__grid {
            display: grid;
            grid-template-columns: 320px 1fr;
            margin-top: 60px;
        }

        &__grid--closed {
            display: block;
        }

        &__sidebar-outer {
            height: calc(100vh - 60px);
        }

        &__main {
            height: calc(100vh - 60px);
            padding: 30px;
        }
    }

    .sidebar-enter-active,
    .sidebar-leave-active {
    }
    .sidebar-enter, .sidebar-leave-to /* .sidebar-leave-active до версии 2.1.8 */ {
    }

    .error-enter-active,
    .error-leave-active {
        transition: all 0.5s;
    }
    .error-enter, .error-leave-to /* .sidebar-leave-active до версии 2.1.8 */ {
        transform: translate(100%, 0);
    }
</style>
