<template>
    <div class="main-page">
        <div class="main-page__title-container">
            <h2 class="main-page__title">Главная страница</h2>
            <b-tabs pills content-class="mt-3">
                <b-tab
                    @click="changeTab(true)"
                    title="Основное"
                    :active="isMainTab"
                ></b-tab>
                <b-tab
                    @click="changeTab(false)"
                    title="SEO"
                    :active="!isMainTab"
                ></b-tab>
            </b-tabs>
        </div>

        <div class="main-page__body">
            <MainPageMain v-show="isMainTab" />
            <MainPageSeo v-show="!isMainTab" />
        </div>
    </div>
</template>

<script lang="ts">
    import { Vue, Component, Prop } from 'nuxt-property-decorator';

    import MainPageMain from '@/components/pages/main/MainPageMain.vue';
    import MainPageSeo from '@/components/pages/main/MainPageSeo.vue';

    @Component({
        components: {
            MainPageMain,
            MainPageSeo,
        },
    })
    export default class MainPage extends Vue {
        isMainTab: boolean = true;

        changeTab(state: boolean) {
            this.isMainTab = state;
        }
    }
</script>

<style lang="scss">
    @import '~@/assets/scss/custom.scss';
    .main-page {
        @include page-width;
        &__title-container {
            background-color: $light;
            padding: 15px;
        }

        &__body {
            padding: 15px;
            border: solid 1px $light;
        }

        &__title {
            @include h1;
            color: $dark;
            color: $primary;
            font-size: 3rem;
        }
    }
</style>
