<template>
    <div class="add-image-item">
        <transition name="add-image">
            <font-awesome-icon
                class="add-image-item__button"
                icon="plus"
                @click="$emit('add')"
                title="Добавить изображение"
            />
        </transition>
    </div>
</template>

<script lang="ts">
    import { Vue, Component } from 'nuxt-property-decorator';
    import { errorStore } from '@/store';
    //fortawesome
    import { library } from '@fortawesome/fontawesome-svg-core';
    import { faPlus } from '@fortawesome/free-solid-svg-icons';
    import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
    // @ts-ignore
    library.add(faPlus);

    @Component({
        components: {
            FontAwesomeIcon,
        },
    })
    export default class ImageItem extends Vue {}
</script>

<style lang="scss">
    @import '~@/assets/scss/custom.scss';

    .add-image-item {
        height: 90px;
        width: 90px;
        border: $tableBorder;
        border-color: $primary;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
        color: $primary;
        font-size: 1.2rem;

        &__button {
            transition: all 0.3s;
            cursor: pointer;

            &:hover {
                transform: scale(1.2);
            }

            &:active {
                transform: scale(0.8);
            }
        }
    }
</style>
