<template>
    <div class="custom-image">
        <label class="custom-image__label" v-show="label && label.length">
            {{ label }}
        </label>
        <div class="custom-image__grid">
            <ImageItem
                v-for="(image, i) of images"
                :key="`imageAddImageItem${i}`"
                :image="image"
                @delete="deleteImage"
            />
            <ImageItem
                v-for="(image, i) of bufferImages"
                :key="`imageAddBufferImageItem${i}`"
                :image="image"
                @delete="deleteBufferImage"
            />
            <AddImageItem @add="$refs.input.click()" />
        </div>
        <input
            v-show="false"
            type="file"
            ref="input"
            multiple
            accept="image/*"
            @change="addImage"
        />
    </div>
</template>

<script lang="ts">
    import { Vue, Component, Prop, Watch } from 'nuxt-property-decorator';
    import { Image as ImageSchema } from '@/types/image';
    import { errorStore } from '@/store';
    //child components
    import ImageItem from './ImageItem.vue';
    import AddImageItem from './AddImageItem.vue';
    //helpers
    import { addImage, deleteImages } from './requests';

    @Component({
        components: {
            ImageItem,
            AddImageItem,
        },
    })
    export default class CustomImage2 extends Vue {
        @Prop({ default: () => [] }) images!: Array<ImageSchema>;
        @Prop({ default: '' }) label!: string;
        //id удаленных изображений
        deletedImagesIdes: number[] = [];
        //Список изображений, которые еще не на сервере
        bufferImages: ImageSchema[] = [];
        //удаляем (прячем) ихображения до удаления
        deleteImage(imageId: number) {
            this.deletedImagesIdes.push(imageId);
        }
        //Удаляем изображение из буфера
        deleteBufferImage(id: number) {
            for (let i = 0; i < this.bufferImages.length; ++i) {
                if (this.bufferImages[i].id == id) {
                    this.bufferImages.splice(i, 1);
                    return;
                }
            }
        }
        //обрабатывем массив с файлами изображений
        addImage(e: any) {
            e.target.files.forEach((element: File) => {
                this.bufferImages.push({
                    id: Math.round(Math.random() * 100000),
                    src: URL.createObjectURL(element),
                    file: element,
                });
            });
        }
        //Составляем список изображений
        async setImagesIdes(): Promise<number[]> {
            //Здеcь будут id актуальных изображений
            let result: number[] = [];
            //Список id всех изображений на сервере
            this.images.forEach(image => {
                result.push(image.id);
            });
            //удаляем id спрятанных изображений, которые есть на сервере
            let resultSet = new Set(result);
            this.deletedImagesIdes.forEach(id => {
                resultSet.delete(id);
            });
            result = [...resultSet];
            //удаляем на сервере удаленные изображения
            if (this.deletedImagesIdes.length)
                await deleteImages(this.deletedImagesIdes);
            //Отправляем изображения и сохраняем Id
            for (const image of this.bufferImages) {
                if (image.file) {
                    let id: any = await addImage(image.file);
                    if (id) result.push(id);
                }
            }
            //Сбрасываем даннные
            this.bufferImages = [];
            this.deletedImagesIdes = [];
            return result;
        }
        async getIdes(): Promise<number[]> {
            return await this.setImagesIdes();
        }
    }
</script>

<style lang="scss">
    @import '~@/assets/scss/custom.scss';

    .custom-image {
        &__grid {
            display: grid;
            grid-template-columns: repeat(4, 90px);
            grid-gap: 10px;
            padding: 0 0 10px 0;
        }
    }

    @media (max-width: 768px) {
        .custom-image {
            &__grid {
                grid-template-columns: repeat(2, 90px);
            }
        }
    }
</style>
