<template>
    <div class="custom-image">
        <label class="custom-image__label" v-show="label && label.length">
            {{ label }}
        </label>
        <div class="custom-image__grid">
            <ImageItem
                v-show="image.id && !serverImageDeleted"
                :image="image"
                @delete="serverImageDeleted = true"
            />
            <ImageItem
                v-if="bufferImage.id"
                :image="bufferImage"
                @delete="deleteBufferImage()"
            />
            <AddImageItem
                v-show="!bufferImage.id && (serverImageDeleted || !image.id)"
                @add="$refs.input.click()"
            />
        </div>
        <input
            v-show="false"
            type="file"
            ref="input"
            accept="image/*"
            @change="addImage"
        />
    </div>
</template>

<script lang="ts">
    import { Vue, Component, Prop, Watch } from 'nuxt-property-decorator';
    import { Image as ImageSchema } from '@/types/image';
    import { errorStore } from '@/store';
    //child components
    import ImageItem from './ImageItem.vue';
    import AddImageItem from './AddImageItem.vue';
    //helpers
    import { addImage, deleteImages } from './requests';

    @Component({
        components: {
            ImageItem,
            AddImageItem,
        },
    })
    export default class CustomImage extends Vue {
        @Prop({ default: () => ({} as ImageSchema) }) image!: ImageSchema;
        @Prop({ default: '' }) label!: string;

        bufferData: File[] = [];

        serverImageDeleted: boolean = false;
        //Изображение ав буфере
        bufferImage: ImageSchema = {} as ImageSchema;

        //Удаляем изображение из буфера
        deleteBufferImage() {
            this.bufferImage = {} as ImageSchema;
        }
        //Преобразуем файл в Image
        addImage(e: any) {
            let element = e.target.files[0];
            this.bufferImage = {
                id: Math.round(Math.random() * 100000),
                src: URL.createObjectURL(element),
                file: element,
            };
            e.target.value = [];
        }

        //Составляем список изображений
        async setImagesIdes(): Promise<number> {
            //Здеcь будут id актуальных изображений
            let result: number = 0;
            if (this.image.id) {
                result = this.image.id;
            }
            if (this.serverImageDeleted) {
                await deleteImages([this.image.id]);
                result = 0;
            }
            if (this.bufferImage.id && this.bufferImage.file) {
                let id: any = await addImage(this.bufferImage.file);
                result = id;
            }
            //Сбрасываем даннные
            this.bufferImage = {} as ImageSchema;
            this.serverImageDeleted = false;
            return result;
        }
        async getId(): Promise<number> {
            return await this.setImagesIdes();
        }
    }
</script>

<style lang="scss">
    @import '~@/assets/scss/custom.scss';

    .custom-image {
        &__grid {
            display: grid;
            grid-template-columns: repeat(4, 90px);
            grid-gap: 10px;
            padding: 0 0 10px 0;
        }
    }

    @media (max-width: 768px) {
        .custom-image {
            &__grid {
                grid-template-columns: repeat(2, 90px);
            }
        }
    }
</style>
