<template>
    <div
        class="image-item"
        v-if="!hidden"
        :style="{ backgroundImage: `url(${image.src})` }"
    >
        <transition name="delete-image">
            <font-awesome-icon
                class="image-item__button"
                icon="trash"
                @click="
                    hidden = true;
                    $emit('delete', image.id);
                "
                title="Удалить изображение"
            />
        </transition>
    </div>
</template>

<script lang="ts">
    import { Vue, Component, Prop } from 'nuxt-property-decorator';
    import { Image as ImageSchema } from '@/types/image';
    //fortawesome
    import { library } from '@fortawesome/fontawesome-svg-core';
    import { faTrash } from '@fortawesome/free-solid-svg-icons';
    import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
    // @ts-ignore
    library.add(faTrash);

    @Component({
        components: {
            FontAwesomeIcon,
        },
    })
    export default class ImageItem extends Vue {
        @Prop() image!: ImageSchema;
        hidden: boolean = false;
    }
</script>

<style lang="scss">
    @import '~@/assets/scss/custom.scss';

    .image-item {
        height: 90px;
        width: 90px;
        border: $tableBorder;
        border-color: $primary;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
        color: $light;
        font-size: 1.2rem;

        &__button {
            transition: all 0.3s;
            opacity: 0;
            cursor: pointer;

            &:hover {
                transform: scale(1.2);
            }

            &:active {
                transform: scale(0.8);
            }
        }

        &:hover {
            .image-item__button {
                opacity: 1;
            }
        }
    }
</style>
