<template>
    <div class="auth-form">
        <b-form @submit.prevent="onSubmit()">
            <h4>Аутентификация</h4>
            <b-form-group label="Логин:">
                <b-form-input
                    v-model="form.login"
                    type="text"
                    placeholder="Введите логин"
                    required
                ></b-form-input>
            </b-form-group>

            <b-form-group label="Пароль:">
                <b-form-input
                    v-model="form.password"
                    type="password"
                    placeholder="Введите пароль"
                    required
                ></b-form-input>
            </b-form-group>
            <b-button variant="primary" type="submit">Войти</b-button>
        </b-form>
    </div>
</template>

<script lang="ts">
    import { Vue, Component } from 'nuxt-property-decorator';
    import { userStore } from '@/store';
    import { User as UserSchema } from '@/types/user';
    import { getUserData, setUserData } from '@/helpers/localStorageHelpers';

    @Component({
        layout: 'auth',
    })
    export default class AuthForm extends Vue {
        form = {
            login: '',
            password: '',
        };

        get user(): UserSchema {
            return userStore.USER;
        }

        async onSubmit(): Promise<void> {
            await userStore.AUTH([this.form.login, this.form.password]);
            if (this.user.status == 200) {
                this.$router.push({ name: 'index' });
            }
        }
        fetch() {
            let data: UserSchema | null = getUserData();
            if (data) {
                userStore.SET_USER(data);
                this.$router.push({ name: 'index' });
            }
        }
    }
</script>

<style lang="scss">
    @import '~@/assets/scss/custom.scss';
    .auth-form {
        margin: 0 auto;
        max-width: 748px;
        background-color: $secondary;
        padding: 30px;
    }
</style>
