<template>
    <div class="index"></div>
</template>

<script lang="ts">
    import { Vue, Component } from 'nuxt-property-decorator';

    @Component({})
    export default class Index extends Vue {}
</script>

<style lang="scss">
    @import '@/assets/scss/custom.scss';
    .index {
        @include page-width;
    }
</style>
