<template>
    <div class="layout">
        <h2 class="layout__title">Основное</h2>
        <b-form @submit.prevent="onSubmit" class="layout__form-width">
            <b-form-group
                id="input-group-1"
                label="Название учреждениия:"
                label-for="input-1"
            >
                <b-form-input
                    id="input-1"
                    v-model="form.navbar.logo.name"
                    type="text"
                    placeholder="Введите название учреждениия"
                    required
                ></b-form-input>
            </b-form-group>
            <b-form-group
                id="input-group-1"
                label="Номер телефона:"
                label-for="input-1"
            >
                <b-form-input
                    id="input-1"
                    v-model="form.navbar.tel"
                    type="text"
                    placeholder="Введите номер телефона"
                    required
                ></b-form-input>
            </b-form-group>

            <b-button type="submit" variant="primary">Сохранить</b-button>
        </b-form>
    </div>
</template>

<script lang="ts">
    import { Vue, Component, Prop } from 'nuxt-property-decorator';
    import { Layout as LayoutSchema, Link as LinkSchema } from '@/types/layout';
    import { layoutStore } from '@/store';

    @Component({})
    export default class Layout extends Vue {
        form: LayoutSchema = {
            navbar: {
                logo: {
                    url: '',
                    name: '',
                },
                tel: '',
                links: [],
            },
        };

        get layoutD(): LayoutSchema {
            return layoutStore.LAYOUT;
        }

        async onSubmit(): Promise<void> {
            await layoutStore.EDIT_LAYOUT(this.form);
            //await layoutStore.LOAD_LAYOUT();
            //this.form = this.layoutD;
        }
        async fetch() {
            await layoutStore.LOAD_LAYOUT();
            this.form.navbar.logo.url = this.layoutD.navbar.logo.url;
            this.form.navbar.logo.name = this.layoutD.navbar.logo.name;
            this.form.navbar.tel = this.layoutD.navbar.tel;
        }
    }
</script>

<style lang="scss">
    @import '~@/assets/scss/custom.scss';
    .layout {
        &__title {
            @include h1;
            color: $dark;
            color: $primary;
        }

        &__form-width {
            @include page-width;
        }
    }
</style>
