<template>
    <div class="contacts-page">
        <div class="contacts-page__title-container">
            <h2 class="contacts-page__title">
                Редактирование карточки контакта
            </h2>
            <div class="contacts-page__body">
                <ContactsEditForm />
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import { Vue, Component, Prop } from 'nuxt-property-decorator';

    import ContactsPageMain from '@/components/pages/contacts/ContactsPageMain.vue';
    import ContactsPageSeo from '@/components/pages/contacts/ContactsPageSeo.vue';

    import ContactsEditForm from '@/components/pages/contacts/ContactsEditForm.vue';
    @Component({
        components: {
            ContactsEditForm,
        },
    })
    export default class ContactsPageAdd extends Vue {
        isMainTab: boolean = true;

        changeTab(state: boolean) {
            this.isMainTab = state;
        }
    }
</script>

<style lang="scss">
    @import '~@/assets/scss/custom.scss';
    .contacts-page {
        @include page-width;
        &__title-container {
            background-color: $light;
            padding: 15px;
        }

        &__body {
            padding: 15px;
            border: solid 1px $light;
        }

        &__title {
            @include h1;
            color: $dark;
            color: $primary;
            font-size: 3rem;
        }
    }
</style>
