<template>
    <div class="about-page">
        <div class="contacts-page__title-container">
            <h2 class="contacts-page__title">Страница "О нас"</h2>
        </div>
        <div class="about-page__body">
            <CustomTextEditor />
        </div>
    </div>
</template>

<script lang="ts">
    import { Vue, Component } from 'nuxt-property-decorator';
    import CustomTextEditor from '@/components/common/cusomInputs/CustomTextEditor/CustomTextEditor.vue';

    @Component({
        components: {
            CustomTextEditor,
        },
    })
    export default class MainPage extends Vue {}
</script>

<style lang="scss">
    @import '~@/assets/scss/custom.scss';
    .about-page {
        @include page-width;
        &__title-container {
            background-color: $light;
            padding: 15px;
        }

        &__body {
            padding: 15px;
            border: solid 1px $light;
        }

        &__title {
            @include h1;
            color: $dark;
            color: $primary;
            font-size: 3rem;
        }
    }
</style>
