<template>
    <b-navbar
        class="navbar"
        toggleable="lg"
        type="dark"
        sticky
        variant="dark"
        v-if="layoutData.navbar"
    >
        <b-navbar-brand
            class="navbar__brand"
            @click.prevent="$router.push({ name: 'index' })"
            >{{ layoutData.navbar.logo.name }}</b-navbar-brand
        >

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
            <b-navbar-nav>
                <b-nav-item
                    v-for="(link, i) of layoutData.navbar.links"
                    :key="`navbar_link_${i}`"
                    :to="link.url"
                    >{{ link.name }}</b-nav-item
                >
            </b-navbar-nav>

            <b-navbar-nav class="ml-auto">
                <b-nav-item
                    :href="`tel:${layoutData.navbar.tel}`"
                    v-if="layoutData.navbar.tel"
                    >{{ layoutData.navbar.tel }}</b-nav-item
                >
                <b-nav-text v-if="weather.weather"
                    >{{ `${Math.round(weather.main.temp)}` }}&deg;C,
                    {{ `${weather.weather[0].description}` }}</b-nav-text
                >
            </b-navbar-nav>

            <!-- Right aligned nav items -->
        </b-collapse>
    </b-navbar>
</template>

<script lang="ts">
    import { Vue, Component } from 'nuxt-property-decorator';

    import { layoutStore, weatherStore } from '@/store';
    import { Layout as LayoutSchema } from 'types/layout';
    import { Weather as WeatherSchema } from 'types/weather';

    @Component({})
    export default class Navbar extends Vue {
        get layoutData(): LayoutSchema {
            return layoutStore.LAYOUT;
        }

        get weather(): WeatherSchema {
            return weatherStore.WEATHER;
        }

        async fetch(): Promise<void> {
            await layoutStore.LOAD_LAYOUT();
            await weatherStore.LOAD_WEATHER();
        }
    }
</script>

<style lang="scss">
    .navbar {
        &__brand {
            font-family: 'Caveat', cursive;
            font-size: 1.6rem !important;
            cursor: pointer;
        }
    }
</style>
