<template>
    <b-alert
        class="default-error"
        :show="showError"
        :variant="error.status ? 'success' : 'danger'"
    >
        {{ error.title }}
    </b-alert>
</template>

<script lang="ts">
    import { Vue, Component, Watch } from 'nuxt-property-decorator';
    import { errorStore } from '@/store';
    import { ErrorSchema } from '@/types/error';

    @Component({})
    export default class Error extends Vue {
        showError: boolean = false;

        get error(): ErrorSchema {
            return errorStore.ERROR;
        }

        @Watch('error.title')
        onErrorSetted() {
            if (!this.error.title.length) {
                return;
            }
            this.showError = true;
            setTimeout(() => {
                errorStore.RESET_ERROR();
                this.showError = false;
            }, 3000);
        }
    }
</script>

<style lang="scss">
    @import '~@/assets/scss/custom.scss';
    .default-error {
        margin-bottom: 0 !important;
        position: fixed !important;
        z-index: 100;
        top: 100px;
        left: calc(100vw - 340px);
        width: 340px;
    }
</style>
