<template>
    <transition name="loading">
        <div v-show="!!count" class="loading">
            <svg
                width="100"
                height="100"
                viewBox="0 0 38 38"
                xmlns="http://www.w3.org/2000/svg"
                stroke="#79125f"
            >
                <g fill="none" fill-rule="evenodd">
                    <g transform="translate(1 1)" stroke-width="2">
                        <circle stroke-opacity=".5" cx="18" cy="18" r="18" />
                        <path d="M36 18c0-9.94-8.06-18-18-18">
                            <animateTransform
                                attributeName="transform"
                                type="rotate"
                                from="0 18 18"
                                to="360 18 18"
                                dur="1s"
                                repeatCount="indefinite"
                            />
                        </path>
                    </g>
                </g>
            </svg>
        </div>
    </transition>
</template>

<script lang="ts">
    import { Vue, Component, Prop } from 'nuxt-property-decorator';
    import { loadingStore } from '@/store';
    @Component({})
    export default class Loading extends Vue {
        get count(): number {
            return loadingStore.QUERIES;
        }
    }
</script>

<style lang="scss">
    @import '~@/assets/scss/custom.scss';

    .loading {
        height: 100vh;
        width: 100vw;
        position: fixed;
        left: 0;
        top: 0;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
        background-color: rgba($color: $dark, $alpha: 0.3);
        text-align: center;
        z-index: 11;
    }

    .loading-enter-active,
    .loading-leave-active {
        transition: all 0.5s;
    }
    .loading-enter, .loading-leave-to /* .sidebar-leave-active до версии 2.1.8 */ {
        opacity: 0;
    }
</style>
