<template>
    <div class="admin-headpanel">
        <div
            class="hamburger hamburger--slider"
            :class="{ 'is-active': menuOpen }"
            @click="
                menuOpen = !menuOpen;
                $emit('sidebar', menuOpen);
            "
        >
            <div class="hamburger-box">
                <div class="hamburger-inner"></div>
            </div>
        </div>
        <div class="admin-headpanel__brand">Afalina hotel</div>
        <div class="admin-headpanel__right">
            <span class="admin-headpanel__login">{{ user.user.email }}</span>
            <b-button @click="onLogOut()">Выйти</b-button>
        </div>
    </div>
</template>

<script lang="ts">
    import { Vue, Component } from 'nuxt-property-decorator';
    import { userStore } from '@/store';
    import { User as UserSchema } from '@/types/user';

    @Component({})
    export default class Navbar extends Vue {
        menuOpen: boolean = true;

        get user(): UserSchema {
            return userStore.USER;
        }

        async onLogOut(): Promise<void> {
            await userStore.LOGOUT();
            this.$router.push({ name: 'auth' });
        }
    }
</script>

<style lang="scss">
    @import '~@/assets/scss/hamburger.scss';
    @import '~@/assets/scss/custom.scss';

    .admin-headpanel {
        background-color: $primary;
        height: 60px;
        display: grid;
        grid-template-columns: 70px 1fr 1fr;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 10;
        width: 100vw;
        left: 0;

        &__brand {
            color: $light;
            font-family: 'Caveat', cursive;
            font-size: 2rem !important;
            position: relative;
            top: -2px;
        }

        &__right {
            text-align: right;
            margin-right: 30px;
            color: $light;
        }

        &__login {
            padding-right: 15px;
        }
    }
</style>
