<template>
    <div
        class="sidebar-item"
        :class="{ 'sidebar-item--main': item.level == 1 }"
    >
        <div class="sidebar-item__top">
            <div
                class="sidebar-item__title"
                :class="{
                    'sidebar-item__title--main': item.level == 1,
                    'sidebar-item__title--link': item.type == 'link',
                    'sidebar-item__title--active': isLinkActive,
                }"
                @click="openLink()"
            >
                {{ item.title }}
            </div>
            <div
                v-if="item.childeren && item.childeren.length"
                class="sidebar-item__collapse-button"
                :class="{
                    'sidebar-item__collapse-button--rotate': showChildes,
                }"
                @click="showChildes = !showChildes"
            >
                <font-awesome-icon icon="angle-down" />
            </div>
        </div>

        <b-collapse
            class="sidebar-item__collapse"
            :style="{ paddingLeft: item.level * 20 + 'px' }"
            v-model="showChildes"
            v-if="item.childeren"
            id="collapse-1-inner"
        >
            <sidebar-item
                v-for="(item, i) of item.childeren"
                :item="item"
                :key="`sidebarItemLevel${item.level}Id${i}`"
            />
        </b-collapse>

        <!--childes-->
    </div>
</template>

<script lang="ts">
    import { Vue, Component, Prop } from 'nuxt-property-decorator';
    //fortawesome
    import { library } from '@fortawesome/fontawesome-svg-core';
    import { faAngleDown } from '@fortawesome/free-solid-svg-icons';
    import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
    // @ts-ignore
    library.add(faAngleDown);

    import {
        SidebarItem as SidebarItemSchema,
        sidebarItemType,
    } from '@/types/sidebarItem';

    @Component({
        components: {
            FontAwesomeIcon,
        },
    })
    export default class SidebarItem extends Vue {
        @Prop({ default: () => [] }) item!: SidebarItemSchema;

        menuOpen: boolean = true;
        showChildes: boolean = false;

        get isLinkActive(): boolean {
            return this.$route.name === this.item.routeName;
        }

        openLink(): void {
            if (this.item.type == 'link') {
                this.$router.push({ name: this.item.routeName });
            }
        }
    }
</script>

<style lang="scss">
    @import '~@/assets/scss/custom.scss';

    .sidebar-item {
        margin-bottom: 5px;
        &__top {
            display: grid;
            grid-template-columns: 1fr 20px;
            align-items: center;
        }

        &__title {
            transition: all 0.3s;
        }

        &__title--link {
            cursor: pointer;
        }

        &__title--main {
            font-size: 1.3rem;
            padding-top: 5px;
            padding-bottom: 5px;
            color: $primary;
        }

        &__title--active {
            cursor: auto;
            text-decoration: underline;
        }

        &__collapse-button {
            text-align: center;
            cursor: pointer;
            transform: all 0.3s;
            color: $dark;
            transform: rotate(0deg);
        }
        &__collapse-button--rotate {
            transform: rotate(180deg);
        }

        &__collapse {
        }
    }
</style>
