<template>
    <div class="admin-sidebar">
        <div class="admin-sidebar_inner">
            <SidebarItem
                v-for="(item, i) of menu"
                :item="item"
                :key="`sidebarItemLevel${item.level}Id${i}`"
            />
        </div>
    </div>
</template>

<script lang="ts">
    import { Vue, Component, Prop } from 'nuxt-property-decorator';
    import {
        SidebarItem as SidebarItemSchema,
        sidebarItemType,
    } from '@/types/sidebarItem';

    import SidebarItem from '@/components/layout/SidebarItem.vue';

    @Component({
        components: {
            SidebarItem,
        },
    })
    export default class Sidebar extends Vue {
        @Prop({ default: true }) isOpen!: boolean;

        menu: Array<SidebarItemSchema> = [
            {
                type: sidebarItemType.link, //group or link
                level: 1,
                title: 'Статистика',
                routeName: 'index',
            },
            {
                type: sidebarItemType.link, //group or link
                level: 1,
                title: 'Основное',
                routeName: 'layout',
            },
            {
                type: sidebarItemType.group, //group or link
                level: 1,
                title: 'Страницы',
                routeName: '',
                childeren: [
                    {
                        type: sidebarItemType.link, //group or link
                        level: 2,
                        title: 'Главная страница',
                        routeName: 'pages-main',
                    },
                    {
                        type: sidebarItemType.link, //group or link
                        level: 2,
                        title: 'Страница "Контакты"',
                        routeName: 'pages-contacts',
                    },
                    {
                        type: sidebarItemType.link, //group or link
                        level: 2,
                        title: 'Страница "О нас"',
                        routeName: 'pages-about',
                    },
                ],
            },
            {
                type: sidebarItemType.link, //group or link
                level: 1,
                title: 'Номера',
                routeName: 'numbers',
            },
        ];
    }
</script>

<style lang="scss">
    @import '~@/assets/scss/custom.scss';
    .admin-sidebar {
        width: 320px;
        background-color: $light;
        min-height: calc(100vh - 60px);
        max-height: calc(100vh - 60px);
        padding: 30px 15px;
        position: fixed;
        top: 60px;
    }
</style>
