// All of your custom SCSS variables go first
$primary: #79125f;
$secondary: #ffffff;
$light: #f5f5f5;
$dark: #000000;
//then bootstrap & bootstrap-vue should be added after
//so that they inherit the custom SCSS variables
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

//all other custom scss files or css should be added here

$buttonBg: #60a7a5;
$mainBg: #fafafa;
$tableBorder: solid 1px $buttonBg;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Ubuntu:ital,wght@0,500;0,700;1,300&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
    outline: none;
}

@mixin textShadow {
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

@mixin handWrite {
    color: $secondary;
    font-family: 'Caveat', cursive;
    @include textShadow;
}

@mixin page-width {
    max-width: 1024px;
    width: 90%;
}

@mixin h1 {
    display: block;
    font-size: 4rem;
    z-index: 1;
    width: 100%;
    @include handWrite;
}

@mixin button {
    display: block;
    margin: 0 auto;
    border: none;
    padding: 15px 25px 15px 25px;
    color: $light;
    background-color: rgba($color: #000000, $alpha: 0);
    border-radius: 15px;
    line-height: 1;
    cursor: pointer;
    transition: all 0.3s;
    outline: none;
    border: solid 1px $light;
    outline: none;

    &:focus {
        outline: none;
    }

    &:hover {
        transform: scale(1.05);
    }

    &:active {
        transform: scale(0.95);
    }
}

@mixin input {
    display: block;
    margin: 0 auto;
    border: none;
    padding: 15px 25px 15px 25px;
    color: #fff;
    background-color: rgba($color: #000000, $alpha: 0);
    border-radius: 15px;
    line-height: 1;
    outline: none;
}
