<template>
    <div class="hotel-rooms">
        <div class="hotel-rooms__title-container">
            <h2 class="hotel-rooms__title">Номера</h2>
        </div>

        <div class="hotel-rooms__body">
            <HotelRoomMain />
        </div>
    </div>
</template>

<script lang="ts">
    import { Vue, Component, Prop } from 'nuxt-property-decorator';

    import HotelRoomMain from '@/components/pages/hotelRooms/HotelRoomMain.vue';

    @Component({
        components: {
            HotelRoomMain,
        },
    })
    export default class MainPage extends Vue {
        activeTab: string = 'main';

        tabs: any = {
            main: {
                label: 'main',
                title: 'Основное',
            },
        };
    }
</script>

<style lang="scss">
    @import '~@/assets/scss/custom.scss';
    .hotel-rooms {
        @include page-width;
        &__title-container {
            background-color: $light;
            padding: 15px;
        }

        &__body {
            padding: 15px;
            border: solid 1px $light;
        }

        &__title {
            @include h1;
            color: $dark;
            color: $primary;
            font-size: 3rem;
        }
    }
</style>
