<template>
    <div class="hotel-room-price">
        <HotelRoomFeatureItem
            v-for="(feature, i) of value"
            :key="'featureCopy' + i"
            :value="feature"
            :toggler="toggler"
            @input="v => (feature = v)"
            @delete="value.splice(i, 1)"
            :ref="'refer'"
        />
        <b-button
            class="hotel-room-price__add"
            type="button"
            variant="primary"
            title="Удалить"
            @click="addPrice()"
        >
            Добавить
            <font-awesome-icon icon="plus" />
        </b-button>
    </div>
</template>

<script lang="ts">
    import { Vue, Component, Prop, Watch } from 'nuxt-property-decorator';
    import { Feature as FeatureSchema } from '@/types/hotelRoom';
    import HotelRoomFeatureItem from './HotelRoomFeatureItem.vue';

    import { library } from '@fortawesome/fontawesome-svg-core';
    import { faPlus } from '@fortawesome/free-solid-svg-icons';
    import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
    // @ts-ignore
    library.add(faPlus);

    @Component({
        components: {
            HotelRoomFeatureItem,
            FontAwesomeIcon,
        },
    })
    export default class HotelRoomFeature extends Vue {
        @Prop() value!: FeatureSchema[];

        toggler: boolean = false;

        addPrice(): void {
            this.value.push({
                title: '',
                description: '',
                img: {
                    id: 0,
                    src: '',
                },
            });
        }

        async getId() {
            // @ts-ignore
            if (this.$refs.refer && this.$refs.refer.length)
                // @ts-ignore
                for (let element of this.$refs.refer) {
                    // @ts-ignore
                    await element.getId();
                }
        }
    }
</script>

<style lang="scss">
    @import '~@/assets/scss/custom.scss';

    .hotel-room-price {
        &__add {
            display: block !important;
            margin: 10px 0 0 auto;
        }
    }
</style>
