<template>
    <div class="hotel-room-feature-item">
        <div class="hotel-room-feature-item__grid">
            <b-form-group label="Название фишки:">
                <b-form-input
                    type="text"
                    placeholder="Введите название фишки"
                    required
                    v-model="value.title"
                ></b-form-input>
            </b-form-group>
            <b-form-group label="Описание фишки:">
                <b-form-input
                    type="text"
                    placeholder="Введите oписание фишки"
                    required
                    v-model="value.description"
                ></b-form-input>
            </b-form-group>
            <CustomSingleImage
                ref="mainfeatureimage"
                :image="value.img"
                label="Обложка фишки"
            />
            <b-button
                @click.prevent="$emit('delete')"
                type="button"
                variant="danger"
                title="Удалить"
                >Удалить
                <font-awesome-icon icon="trash" />
            </b-button>
        </div>
    </div>
</template>

<script lang="ts">
    import { Vue, Component, Prop, Watch } from 'nuxt-property-decorator';
    import { Feature as FeatureSchema } from '@/types/hotelRoom';
    import { library } from '@fortawesome/fontawesome-svg-core';
    import { faTrash } from '@fortawesome/free-solid-svg-icons';
    import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
    // @ts-ignore
    library.add(faTrash);

    import CustomSingleImage from '@/components/common/cusomInputs/CustomImage/CustomSingleImage.vue';

    @Component({
        components: {
            FontAwesomeIcon,
            CustomSingleImage,
        },
    })
    export default class HotelRoomFeatureItem extends Vue {
        @Prop() value!: FeatureSchema;
        @Prop() toggler!: boolean;

        async getId() {
            // @ts-ignore
            this.value.newImageId = await this.$refs.mainfeatureimage.getId();
        }
    }
</script>

<style lang="scss">
    @import '~@/assets/scss/custom.scss';
    .hotel-room-feature-item {
        margin-bottom: 5px;
    }
</style>
