<template>
    <div
        class="main-text"
        v-if="description && description.length"
        v-html="description"
    ></div>
</template>

<script lang="ts">
    import { Vue, Component } from 'nuxt-property-decorator';

    import { mainPageStore } from '@/store';

    @Component({})
    export default class MainText extends Vue {
        get description(): string {
            return mainPageStore.DESCRIPTION;
        }
    }
</script>

<style lang="scss">
    @import '@/assets/scss/custom.scss';

    .main-text {
        border-color: $secondary;
        @include page-width;
        padding-top: 70px;
        padding-bottom: 70px;
        @include handWrite;
        color: $dark;
        font-size: 2rem;
    }
</style>
