<template>
    <div class="main-page-seo__form-width">
        <b-form @submit.prevent="onSubmit()">
            <b-form-group label="Заголовок:">
                <b-form-input
                    :state="validateTitle"
                    type="text"
                    placeholder="Введите заголовок карточки"
                    required
                    v-model="form.title"
                ></b-form-input>
            </b-form-group>

            <b-form-group label="Данные:">
                <b-textarea
                    :state="validateText"
                    placeholder="Введите данные карточки"
                    v-model="form.text"
                    required
                ></b-textarea>
            </b-form-group>
            <b-button type="submit" variant="primary">Сохранить</b-button>
        </b-form>
    </div>
</template>

<script lang="ts">
    import { Vue, Component, Prop } from 'nuxt-property-decorator';
    import { contactStore, errorStore } from '@/store';
    import { Contact as ContactSchema } from '@/types/contact';
    import {
        validateMetatitle,
        validateMiddleText,
        validateBigText,
    } from '@/helpers/validationHelpers';

    @Component({})
    export default class ContactsAddForm extends Vue {
        form: ContactSchema = {
            id: -1,
            title: '',
            text: '',
        };

        get validateTitle(): boolean | null {
            return validateMetatitle(this.form.title);
        }

        get validateText(): boolean | null {
            return validateMiddleText(this.form.text);
        }

        async onSubmit(): Promise<void> {
            if (this.validateTitle !== true || this.validateText !== true) {
                errorStore.SET_ERROR({
                    status: false,
                    title: 'Форма содержит ошибки',
                });
                return;
            }
            await contactStore.ADD_CONTACT(this.form);
            this.$router.push({ name: 'pages-contacts' });
        }
    }
</script>

<style lang="scss">
    @import '~@/assets/scss/custom.scss';
    .main-page-seo__form-width {
        @include page-width;
    }
</style>
