<template>
    <b-form @submit.prevent="onSubmit" class="main-page-seo__form-width">
        <b-form-group label="Meta-title:">
            <b-form-input
                :state="validateMetaTitle"
                type="text"
                placeholder="Введите meta-title"
                required
                v-model="form.title"
            ></b-form-input>
        </b-form-group>

        <b-form-group label="Meta-description:">
            <b-textarea
                :state="validateMetaDescription"
                placeholder="Введите meta-description"
                v-model="form.description"
                required
            ></b-textarea>
        </b-form-group>

        <b-form-group label="Meta-keywords:">
            <b-textarea
                :state="validateMetaKeywords"
                placeholder="Введите meta-keywords"
                v-model="form.keywords"
                required
            ></b-textarea>
        </b-form-group>

        <b-form-group label="Meta-robots:">
            <b-textarea
                :state="validateMetaRobots"
                placeholder="Введите meta-robots"
                v-model="form.robots"
                required
            ></b-textarea>
        </b-form-group>

        <b-button type="submit" variant="primary">Сохранить</b-button>
    </b-form>
</template>

<script lang="ts">
    import { Vue, Component, Prop } from 'nuxt-property-decorator';
    import { metaStore, errorStore } from '@/store';
    import { Meta as MetaSchema } from '@/types/meta';
    import {
        validateMetatitle,
        validateMiddleText,
        validateBigText,
    } from '@/helpers/validationHelpers';

    @Component({})
    export default class ContactsPageMain extends Vue {
        form: MetaSchema = {
            name: 'contacts',
            title: '',
            description: '',
            keywords: '',
            robots: '',
        };
        slideImagesIdes: number[] = [];

        get validateMetaTitle(): boolean | null {
            return validateMetatitle(this.form.title);
        }
        get validateMetaDescription(): boolean | null {
            return validateBigText(this.form.description);
        }
        get validateMetaKeywords(): boolean | null {
            return validateMiddleText(this.form.keywords);
        }
        get validateMetaRobots(): boolean | null {
            return validateBigText(this.form.robots);
        }

        copyPageData(): void {
            let key: keyof MetaSchema;
            const meta: MetaSchema | undefined = metaStore.META.find(
                (elem: MetaSchema) => {
                    return elem.name == 'contacts';
                },
            );
            if (meta)
                for (key in this.form) {
                    this.form[key] = meta[key];
                }
        }

        async onSubmit(): Promise<void> {
            if (
                this.validateMetaTitle !== true ||
                this.validateMetaDescription !== true ||
                this.validateMetaKeywords !== true ||
                this.validateMetaRobots !== true
            ) {
                errorStore.SET_ERROR({
                    status: false,
                    title: 'Форма содержит ошибки',
                });
                return;
            }
            metaStore.EDIT_META(this.form);
        }

        async fetch() {
            await metaStore.LOAD_META();
            this.copyPageData();
        }
    }
</script>

<style lang="scss">
    @import '~@/assets/scss/custom.scss';
    .main-page-seo__form-width {
    }
</style>
