<template>
    <div class="form-fieldset custom-form-collapse">
        <b-card-header
            header-tag="header"
            role="tab"
            class="custom-form-collapse__header"
        >
            <b-button
                variant="primary"
                block
                class="text-left"
                aria-controls="categories-and-tags"
                @click="open = !open"
            >
                <span class="mr-2">
                    <font-awesome-icon v-show="!open" icon="caret-right" />
                    <font-awesome-icon v-show="open" icon="caret-down" />
                </span>
                {{ label }}
            </b-button>
        </b-card-header>
        <b-collapse id="categories-and-tags" role="tabpanel" v-model="open">
            <b-card-body>
                <slot></slot>
            </b-card-body>
        </b-collapse>
    </div>
</template>

<script>
    import { library } from '@fortawesome/fontawesome-svg-core';
    import {
        faCaretRight,
        faCaretDown,
    } from '@fortawesome/free-solid-svg-icons';
    import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';

    library.add(faCaretRight, faCaretDown);

    export default {
        name: 'custom-form-collapse',
        components: {
            FontAwesomeIcon,
        },
        props: {
            openDefault: {
                type: Boolean,
                default: false,
            },
            label: {
                type: String,
                default: 'label',
            },
        },
        data: () => ({
            open: false,
        }),
        created() {
            this.open = this.openDefault;
        },
    };
</script>

<style lang="scss">
    @import '~@/assets/scss/custom.scss';
    .custom-form-collapse {
        margin-bottom: 10px;
        &__header {
            padding: 0 !important;
        }
    }
</style>
