<template>
    <div class="hotel-room-price">
        <div class="hotel-room-price__title">Прайс</div>
        <b-table striped hover :items="price" :fields="fields"></b-table>
    </div>
</template>

<script lang="ts">
    import { Vue, Component, Prop } from 'nuxt-property-decorator';

    import { Price as PriceSchema } from 'types/hotelRoom';
    import Feature from '@/components/common/Feature.vue';
    @Component({
        components: {
            Feature,
        },
    })
    export default class HotelRoomPrice extends Vue {
        @Prop({ default: [] }) price!: PriceSchema[];

        fields: { key: string; label: string }[] = [
            { key: 'periud', label: 'Период' },
            { key: 'value', label: 'Стоимость' },
        ];
    }
</script>

<style lang="scss">
    @import '@/assets/scss/custom.scss';

    .hotel-room-price {
        @include page-width;
        padding-top: 70px;
        padding-bottom: 70px;
        background-color: $secondary;

        &__title {
            @include h1;
            margin-bottom: 50px;
            color: $dark;
            text-align: center;
        }
    }
</style>
