<template>
    <div class="hotel-room-description">
        <div
            class="hotel-room-description__text"
            v-html="hotelRoom.description"
        ></div>
        <div class="hotel-room-description__features">
            <Feature
                v-for="(feature, i) of hotelRoom.features"
                :key="`hotel_room_feature_${i}`"
                :feature="feature"
                :id="i"
            />
        </div>
    </div>
</template>

<script lang="ts">
    import { Vue, Component, Prop } from 'nuxt-property-decorator';

    import { HotelRoom as HotelRoomSchema } from 'types/hotelRoom';
    import Feature from '@/components/common/Feature.vue';
    @Component({
        components: {
            Feature,
        },
    })
    export default class HotelRoomDescription extends Vue {
        @Prop({ default: () => ({} as HotelRoomSchema) })
        hotelRoom!: HotelRoomSchema;
    }
</script>

<style lang="scss">
    @import '@/assets/scss/custom.scss';

    .hotel-room-description {
        @include page-width;
        padding-top: 70px;
        padding-bottom: 70px;
        display: grid;
        background-color: $dark;

        &__text {
            color: $secondary;
            margin-bottom: 50px;
        }

        &__features {
            color: $secondary;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
            grid-gap: 30px;
            align-items: center;
            justify-items: center;
        }
    }
</style>
