<template>
    <div class="about">
        <h1 class="about__title">О нас</h1>
        <div class="about__body">
            <h2>H2 header</h2>
            <h3>H2 header</h3>
            <em>em eme me</em>
            <b>Bold Bold Bold</b>
            <small>small small small</small>
            <pre>
                pre 
                    pre
                        pre
            </pre>
        </div>
    </div>
</template>

<script lang="ts">
    import { Vue, Component } from 'nuxt-property-decorator';

    import { metaStore } from '@/store';
    import { setMeta } from '@/helpers/metaHelpers';
    @Component({})
    export default class About extends Vue {
        head() {
            return setMeta(metaStore.META, this.$route.name);
        }
    }
</script>

<style lang="scss">
    @import '@/assets/scss/custom.scss';

    .about {
        &__title {
            @include h1;
            @include page-width;
            color: $dark;
            text-align: center;
            padding-top: 70px;
        }

        &__body {
            padding: 70px 0;
            @include page-width;
        }
    }
</style>
