<template>
    <div class="contacts">
        <h1 class="contacts__title">Контакты</h1>
        <div class="contacts-grid">
            <ContactItem
                v-for="(contact, i) of contacts"
                :key="`contactPageItem${i}`"
                :contact="contact"
            />
        </div>
        <FeedbackForm />
    </div>
</template>

<script lang="ts">
    import { Vue, Component } from 'nuxt-property-decorator';

    import ContactItem from '@/components/contactsPage/ContactItem.vue';
    import FeedbackForm from '@/components/common/FeedbackForm.vue';

    import { contactStore, metaStore } from '@/store';
    import { Contact as ContactSchema } from '@/types/contact';
    import { setMeta } from '@/helpers/metaHelpers';
    @Component({
        components: {
            ContactItem,
            FeedbackForm,
        },
    })
    export default class contacts extends Vue {
        head() {
            return setMeta(metaStore.META, this.$route.name);
        }

        get contacts(): ContactSchema[] {
            return contactStore.CONTACTS;
        }

        async fetch() {
            if (!contactStore.CONTACTS.length)
                await contactStore.LOAD_CONTACTS();
        }
    }
</script>

<style lang="scss">
    @import '@/assets/scss/custom.scss';

    .contacts {
        &__title {
            @include h1;
            @include page-width;
            color: $dark;
            text-align: center;
            margin-top: 70px;
        }

        &-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-gap: 30px;
            justify-items: center;
            @include page-width;
            padding-top: 70px;
            padding-bottom: 70px;
        }
    }
</style>
