<template>
    <div class="index">
        <h1 class="index__title" v-show="bannerTitle && bannerTitle.length">
            {{ bannerTitle }}
        </h1>
        <BigCarousel :images="bigCarousel" />
        <MainText />
        <HotelRoomsGrid :hotelRooms="hotelRooms" />
        <FeedbackForm />
    </div>
</template>

<script lang="ts">
    import { Vue, Component } from 'nuxt-property-decorator';

    import BigCarousel from '@/components/common/BigCarousel.vue';
    import HotelRoomsGrid from '@/components/common/HotelRoomsGrid.vue';
    import MainText from '@/components/mainPage/MainText.vue';
    import FeedbackForm from '@/components/common/FeedbackForm.vue';

    import { mainPageStore, hotelRoomStore, metaStore } from '@/store';
    import { HotelRoom as HotelRoomSchema } from 'types/hotelRoom';
    import { Image as ImageSchema } from 'types/image';
    import { setMeta } from '@/helpers/metaHelpers';

    @Component({
        components: {
            BigCarousel,
            MainText,
            HotelRoomsGrid,
            FeedbackForm,
        },
    })
    export default class Index extends Vue {
        head() {
            return setMeta(metaStore.META, this.$route.name);
        }

        get bigCarousel(): ImageSchema[] {
            return mainPageStore.BIG_CAROUSEL;
        }

        get bannerTitle(): string {
            return mainPageStore.BANNER_TITLE;
        }

        get hotelRooms(): HotelRoomSchema[] {
            return hotelRoomStore.HOTEL_ROOMS;
        }

        async fetch() {
            await mainPageStore.LOAD_MAIN_PAGE();
            if (!metaStore.META.length) {
                await metaStore.LOAD_META();
            }
            if (!hotelRoomStore.HOTEL_ROOMS.length) {
                await hotelRoomStore.LOAD_HOTEL_ROOMS();
            }
        }
    }
</script>

<style lang="scss">
    @import '@/assets/scss/custom.scss';
    .index {
        &__title {
            @include h1;
            position: absolute;
            top: calc(50vh - 2rem);
            text-align: center;
        }
    }
</style>
