<template>
    <div class="hotel-room-page" v-show="hotelRoom">
        <h1 class="hotel-room-page__title">{{ hotelRoom.title }}</h1>
        <BigCarousel :images="hotelRoom.slides" />
        <HotelRoomPrice :price="hotelRoom.pricies" />
        <HotelRoomDescription :hotelRoom="hotelRoom" />
        <FeedbackForm
            title="Забронировать номер"
            theme="light"
            :formTitle="hotelRoom.title"
            type="rent"
        />
        <HotelRoomsGrid title="Другие номера" :hotelRooms="hotelRooms" />
    </div>
</template>

<script lang="ts">
    import { Vue, Component } from 'nuxt-property-decorator';

    import BigCarousel from '@/components/common/BigCarousel.vue';
    import HotelRoomDescription from '@/components/hotelRoom/HotelRoomDescription.vue';
    import HotelRoomPrice from '@/components/hotelRoom/HotelRoomPrice.vue';
    import FeedbackForm from '@/components/common/FeedbackForm.vue';
    import HotelRoomsGrid from '@/components/common/HotelRoomsGrid.vue';

    import { hotelRoomStore, metaStore } from '@/store';
    import { HotelRoom as HotelRoomSchema } from 'types/hotelRoom';
    import { setMeta } from '@/helpers/metaHelpers';
    @Component({
        components: {
            BigCarousel,
            HotelRoomDescription,
            HotelRoomPrice,
            FeedbackForm,
            HotelRoomsGrid,
        },
        validate({ params }): boolean {
            return !isNaN(+params.hotelRoomId);
        },
    })
    export default class HotelRoomPage extends Vue {
        /*
    head() {
        return setMeta([this.hotelRoom], "");
    }
    */

        get hotelRoom(): HotelRoomSchema {
            let result: any = hotelRoomStore.HOTEL_ROOMS.find(elem => {
                return elem.id == +this.$route.params.hotelRoomId;
            });
            if (result !== undefined) {
                return result;
            }
            return hotelRoomStore.HOTEL_ROOMS[0];
        }
        get hotelRooms(): HotelRoomSchema[] {
            return hotelRoomStore.HOTEL_ROOMS;
        }

        async fetch() {
            if (!metaStore.META.length) {
                await metaStore.LOAD_META();
            }
            if (!hotelRoomStore.HOTEL_ROOMS.length) {
                await hotelRoomStore.LOAD_HOTEL_ROOMS();
            }
        }
    }
</script>

<style lang="scss">
    @import '@/assets/scss/custom.scss';
    .hotel-room-page {
        &__title {
            @include h1;
            position: absolute;
            top: calc(50vh - 2rem);
            text-align: center;
        }

        &__gallery {
            background-color: $dark;
            padding-top: 70px;
            padding-bottom: 70px;
        }
        &__gallery-title {
            @include h1;
            margin-bottom: 50px;
            text-align: center;
        }
    }
</style>
