<template>
    <div v-if="contact.id !== -1" class="contact-item">
        <h2 class="contact-item__header">{{ contact.title }}</h2>
        <div class="contact-item__text" v-html="contact.text"></div>
    </div>
</template>

<script lang="ts">
    import { Vue, Component, Prop } from 'nuxt-property-decorator';

    import { Contact as ContactSchema } from '@/types/contact';

    @Component({})
    export default class ContactItem extends Vue {
        @Prop({
            default: {
                id: -1,
                title: '',
                text: '',
            },
        })
        contact!: ContactSchema;
    }
</script>

<style lang="scss">
    @import '@/assets/scss/custom.scss';

    .contact-item {
        margin: 0 auto;
        color: $dark;
        width: 100%;
        padding: 30px;
        max-width: 360px;
        text-align: center;

        &__header {
            @include h1;
            color: $dark;
            font-size: 40px;
        }
    }
</style>
