<template>
    <div class="big-carousel" v-if="images.length">
        <b-carousel
            id="carousel-1"
            :interval="4000"
            :controls="controls"
            :indicators="indicators"
            background="#ababab"
            style="text-shadow: 1px 1px 2px #333"
            img-width="1024"
            img-height="480"
        >
            <b-carousel-slide
                v-for="(image, i) of images"
                :key="'big_carousel_image_' + i"
            >
                <template #img>
                    <div
                        class="big-carousel__img"
                        :style="{
                            backgroundImage: `url(${image.src})`,
                            height: imgHeight,
                        }"
                    ></div>
                </template>
            </b-carousel-slide>
        </b-carousel>
    </div>
</template>

<script lang="ts">
    import { Vue, Component, Prop } from 'nuxt-property-decorator';

    @Component({})
    export default class BigCarousel extends Vue {
        @Prop({ default: () => [] }) images!: string[];
        @Prop({ default: false }) controls!: boolean;
        @Prop({ default: true }) indicators!: boolean;
        @Prop({ default: 'calc(100vh - 56px)' }) imgHeight!: string;
    }
</script>

<style lang="scss">
    .big-carousel {
        min-height: calc(100vh - 64.4px);
        max-height: calc(100vh - 64.4px);
        overflow: hidden;
        &__img {
            display: block;
            width: 100%;
            background-size: cover;
            background-position: center;
        }
    }
</style>
