<template>
    <div class="feature">
        <div :id="`feature-${id}`" class="feature__inner">
            <img class="feature__icon" :src="feature.img.src" alt="" />
            <div class="feature__title">{{ feature.title }}</div>
        </div>
        <b-popover :target="`feature-${id}`" triggers="hover" placement="top">
            {{ feature.description }}
        </b-popover>
    </div>
</template>

<script lang="ts">
    import { Vue, Component, Prop } from 'nuxt-property-decorator';

    import { Feature as FeatureSchema } from '@/types/hotelRoom';

    @Component({})
    export default class Feature extends Vue {
        @Prop({ default: () => ({} as FeatureSchema) })
        feature!: FeatureSchema;
        @Prop({ default: 1 }) id!: number;
    }
</script>

<style lang="scss">
    @import '@/assets/scss/custom.scss';

    .feature {
        &__inner {
            width: 100%;
            text-align: center;
            margin: 0 auto;
        }
        &__icon {
            width: 80%;
            min-width: 120px;
            display: block;
            margin: 0 auto 10px auto;
        }
    }
</style>
