<template>
    <div
        class="feedback-form"
        :class="{ 'feedback-form--dark': theme == 'dark' }"
    >
        <h2 class="feedback-form__title">{{ title }}</h2>
        <div class="feedback-form__container">
            <b-form @submit.prevent="onSubmit()">
                <b-form-group
                    id="fieldset-1"
                    label="Ваше имя:"
                    label-for="input-1"
                >
                    <b-form-input
                        placeholder="Ваше имя"
                        :state="validateName"
                        v-model="name"
                        id="input-1"
                        trim
                    ></b-form-input>
                </b-form-group>
                <b-form-group
                    id="fieldset-2"
                    label="Номер телефона:"
                    label-for="input-2"
                >
                    <b-form-input
                        :state="validateTel"
                        placeholder="Номер телефона"
                        inputmode="tel"
                        v-model="tel"
                        v-mask="'+7 (999) 999-99-99'"
                        id="input-2"
                        trim
                    ></b-form-input>
                </b-form-group>
                <div
                    class="feedback-form__feedback"
                    v-show="type == 'feedback'"
                >
                    <b-form-group
                        id="fieldset-3"
                        label="Ваше сообщение:"
                        label-for="input-3"
                    >
                        <b-form-textarea
                            :style="{ overflow: 'hidden' }"
                            v-model="message"
                            id="textarea"
                            placeholder="Ваше сообщение..."
                            rows="3"
                            max-rows="6"
                            :state="validateMassage"
                        ></b-form-textarea>
                    </b-form-group>
                </div>
                <div class="feedback-form__rent" v-if="type == 'rent'">
                    <div>
                        <label for="date-in">Дата въезда</label>
                        <b-form-datepicker
                            :value-as-date="true"
                            id="date-in"
                            v-model="dateIn"
                            class="mb-2"
                            :min="addDay(1)"
                            :state="null"
                        ></b-form-datepicker>
                    </div>

                    <div>
                        <label for="date-out">Дата выезда</label>
                        <b-form-datepicker
                            :value-as-date="true"
                            id="date-out"
                            v-model="dateOut"
                            :min="changeMinOutDate"
                            class="mb-2"
                        ></b-form-datepicker>
                    </div>
                </div>
                <button type="submit" class="feedback-form__button">
                    Отправить
                </button>
            </b-form>
        </div>
        <b-modal
            ok-title="хорошо"
            ok-only
            @ok="$router.push({ name: 'index' })"
            v-model="sowThanksPopup"
            title="Спасибо!"
        >
            <p class="my-4">
                Спасибо что связались с нами, мы ответим Вам в ближайшее время.
            </p>
        </b-modal>
    </div>
</template>

<script lang="ts">
    import { Vue, Component, Prop } from 'nuxt-property-decorator';
    import { feedbackStore } from '@/store';
    import {
        validateName,
        validateTel,
        validateMassage,
    } from '@/helpers/validationHelpers';

    @Component({})
    export default class FeedBackForm extends Vue {
        @Prop({ default: 'Свяжитесь с нами' }) title!: string;
        @Prop({ default: 'light' }) theme!: string;
        @Prop({ default: 'feedback' }) type!: string;

        sowThanksPopup: boolean = false;

        name: string = '';
        tel: string = '';
        message: string = '';
        dateIn: Date = new Date();
        dateOut: Date = new Date();

        addDay(days: number): Date {
            return new Date(Date.now() + 24 * 60 * 60 * 1000 * days);
        }

        addNull(digit: number): string {
            return digit < 10 ? '0' + digit : String(digit);
        }

        formatDateString(dateString: string | Date): string {
            const date: any = typeof (dateString === 'string')
                ? new Date(dateString)
                : dateString;

            return `${this.addNull(date.getDate())}.${this.addNull(
                date.getMonth(),
            )}.${date.getFullYear()}г.`;
        }

        get changeMinOutDate(): Date {
            return new Date(+this.dateIn + 24 * 60 * 60 * 1000 * 3);
        }

        get validateName(): boolean | null {
            return validateName(this.name);
        }

        get validateTel(): boolean | null {
            return validateTel(this.tel);
        }

        get validateMassage(): boolean | null {
            return validateMassage(this.message);
        }

        async onSubmit() {
            if (
                this.validateName === true &&
                this.validateTel === true &&
                (this.validateMassage === true || this.type !== 'feedback')
            ) {
                const form: any = {
                    type: this.type === 'rent' ? 'Бронь' : 'Фидбэк',
                    hotelRoomType:
                        this.type === 'rent'
                            ? this.$route.params.hotelRoomId
                            : null,
                    name: this.name,
                    tel: this.tel,
                    message: this.message,
                    date: String(new Date()),
                    dateIn:
                        this.type === 'rent'
                            ? this.formatDateString(this.dateIn)
                            : null,
                    dateOut:
                        this.type === 'rent'
                            ? this.formatDateString(this.dateOut)
                            : null,
                };

                await feedbackStore.SEND_FEEDACK(form);
                this.sowThanksPopup = true;
            }
        }

        fetch() {
            this.dateIn = this.addDay(1);
            this.dateOut = this.addDay(3);
        }
        created() {
            if (process.client) {
                const VueInputMask = require('vue-inputmask').default;
                Vue.use(VueInputMask);
            }
        }
    }
</script>

<style lang="scss">
    @import '@/assets/scss/custom.scss';
    .feedback-form {
        @include page-width;
        background-color: $secondary;
        padding-top: 70px;
        padding-bottom: 70px;

        &__title {
            @include h1;
            text-align: center;
            color: $dark;
            margin-bottom: 50px;
        }

        &__container {
            width: 100%;
            max-width: 648px;
            margin: 0 auto;
        }

        &__button {
            @include button;
            color: $dark;
            border-color: $dark;
            margin-top: 30px;
        }
    }

    .feedback-form--dark {
        background-color: $dark;

        .feedback-form__title {
            color: $secondary;
        }

        .feedback-form__button {
            color: $secondary;
            border-color: $secondary;
        }
    }
</style>
