<template>
    <div class="hotel-rooms-grid" v-show="hotelRooms.length">
        <h2 class="hotel-rooms-grid__title">{{ title }}</h2>
        <div class="hotel-rooms-grid__grid">
            <HotelRoom
                v-for="(hotelRoom, i) of hotelRooms"
                :key="`hotel_room_${i}`"
                :hotelRoom="hotelRoom"
            />
        </div>
    </div>
</template>

<script lang="ts">
    import { Vue, Component, Prop } from 'nuxt-property-decorator';

    import HotelRoom from '@/components/common/HotelRoom.vue';
    import { HotelRoom as HotelRoomSchema } from 'types/hotelRoom';

    @Component({
        components: {
            HotelRoom,
        },
    })
    export default class HotelRoomsGrid extends Vue {
        @Prop({ default: 'Номера' }) title!: string;
        @Prop({ default: () => [] }) hotelRooms!: HotelRoomSchema[];
    }
</script>

<style lang="scss">
    @import '@/assets/scss/custom.scss';

    .hotel-rooms-grid {
        background-color: $dark;
        @include page-width;
        padding-top: 70px;
        padding-bottom: 70px;

        &__title {
            @include h1;
            text-align: center;
            margin-bottom: 50px;
        }
        &__grid {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
            justify-items: center;
            grid-gap: 30px;
            margin: 0 auto;
        }
    }
</style>
