<template>
    <div
        class="hotel-room"
        @mouseover="hidden = false"
        @mouseout="hidden = true"
        :style="{ backgroundImage: `url(${hotelRoom.img.src})` }"
    >
        <div class="hotel-room__holder">
            <h3 class="hotel-room__title">{{ hotelRoom.title }}</h3>
            <transition name="hotel-room">
                <div class="hotel-room__hidden" v-show="!hidden">
                    <div class="hotel-room__intro">{{ hotelRoom.intro }}</div>
                    <button
                        @click="$router.push(`/appartaments/${hotelRoom.id}`)"
                        class="hotel-room__button"
                    >
                        Подробнее
                    </button>
                </div>
            </transition>
        </div>
    </div>
</template>

<script lang="ts">
    import { Vue, Component, Prop } from 'nuxt-property-decorator';
    import { HotelRoom as HotelRoomSchema } from 'types/hotelRoom';

    @Component({})
    export default class HotelRoom extends Vue {
        @Prop({ default: () => ({} as HotelRoomSchema) })
        hotelRoom!: HotelRoomSchema;

        hidden: boolean = true;
    }
</script>

<style lang="scss">
    @import '@/assets/scss/custom.scss';

    .hotel-room {
        background-position: center;
        background-size: cover;
        width: 100%;
        margin: 0 auto;
        text-align: center;

        &__holder {
            background-color: rgba($color: $dark, $alpha: 0.5);
            height: 320px;
            padding: 15px;
        }

        &__title {
            @include handWrite;
            margin-top: 30px;
            font-size: 3rem;
        }

        &__intro {
            color: $secondary;
            margin-top: 30px;
        }

        &__button {
            @include button;
            margin-top: 30px;
        }
    }

    .hotel-room-enter-active,
    .hotel-room-leave-active {
        transition: opacity 0.5s;
    }
    .hotel-room-enter,
    .hotel-room-leave-to {
        opacity: 0;
    }
</style>
