<template>
    <div class="hotel-room-price-price-item">
        <div class="hotel-room-price-price-item__grid">
            <b-form-input
                type="text"
                placeholder="Период"
                v-model="value.periud"
                @input="$emit('input', value)"
                required
            ></b-form-input>
            <b-form-input
                type="text"
                placeholder="стоимость"
                v-model="value.value"
                @input="$emit('input', value)"
                required
            ></b-form-input>
            <b-button
                @click.prevent="$emit('delete')"
                type="button"
                variant="danger"
                title="Удалить"
            >
                <font-awesome-icon icon="trash" />
            </b-button>
        </div>
    </div>
</template>

<script lang="ts">
    import { Vue, Component, Prop, Watch } from 'nuxt-property-decorator';
    import { Price as PriceSchema } from '@/types/hotelRoom';
    import { library } from '@fortawesome/fontawesome-svg-core';
    import { faTrash } from '@fortawesome/free-solid-svg-icons';
    import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
    // @ts-ignore
    library.add(faTrash);

    @Component({
        components: {
            FontAwesomeIcon,
        },
    })
    export default class HotelRoomPriceItem extends Vue {
        @Prop() value!: PriceSchema;
    }
</script>

<style lang="scss">
    @import '~@/assets/scss/custom.scss';
    .hotel-room-price-price-item {
        margin-bottom: 5px;

        &__grid {
            display: grid;
            grid-template-columns: 1fr 1fr 40px;
            grid-gap: 10px;
        }
    }
</style>
