<template>
    <div class="hotel-room-price">
        <HotelRoomPriceItem
            v-for="(price, i) of value"
            :key="'priceCopy' + i"
            :value="price"
            @input="v => (price = v)"
            @delete="value.splice(i, 1)"
        />
        <b-button
            class="hotel-room-price__add"
            type="button"
            variant="primary"
            title="Удалить"
            @click="addPrice()"
        >
            Добавить
            <font-awesome-icon icon="plus" />
        </b-button>
    </div>
</template>

<script lang="ts">
    import { Vue, Component, Prop, Watch } from 'nuxt-property-decorator';
    import { Price as PriceSchema } from '@/types/hotelRoom';
    import HotelRoomPriceItem from './HotelRoomPriceItem.vue';

    import { library } from '@fortawesome/fontawesome-svg-core';
    import { faPlus } from '@fortawesome/free-solid-svg-icons';
    import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
    // @ts-ignore
    library.add(faPlus);

    @Component({
        components: {
            HotelRoomPriceItem,
            FontAwesomeIcon,
        },
    })
    export default class HotelRoomPrice extends Vue {
        @Prop() value!: PriceSchema[];

        addPrice(): void {
            this.value.push({
                periud: '',
                value: '',
            });
        }
    }
</script>

<style lang="scss">
    @import '~@/assets/scss/custom.scss';
    .hotel-room-price {
        &__add {
            display: block !important;
            margin: 10px 0 0 auto;
        }
    }
</style>
