<template>
    <div class="default">
        <Loading />
        <Navbar />
        <Nuxt />
    </div>
</template>

<script lang="ts">
    import { Vue, Component } from 'nuxt-property-decorator';
    import Navbar from '@/components/layout/Navbar.vue';
    import Loading from '@/components/layout/Loading.vue';

    @Component({
        components: {
            Navbar,
            Loading,
        },
    })
    export default class Default extends Vue {}
</script>

<style lang="scss"></style>
