<template>
    <b-form
        @submit.prevent="onSubmit"
        class="hotel-rooms-main-edit__form-width"
    >
        <CustomFormCollapse label="Тексты">
            <b-form-group label="Название номера:">
                <b-form-input
                    :state="validateTitle"
                    type="text"
                    placeholder="Введите название номера"
                    required
                    v-model="form.title"
                ></b-form-input>
            </b-form-group>

            <b-form-group label="Краткое описание номера:">
                <b-textarea
                    :state="validateIntro"
                    placeholder="Введите краткое описание номера"
                    v-model="form.intro"
                    required
                ></b-textarea>
            </b-form-group>

            <b-form-group label="Описание номера:">
                <b-textarea
                    :state="validateDescription"
                    placeholder="Введите описание номера"
                    v-model="form.description"
                    required
                ></b-textarea>
            </b-form-group>
        </CustomFormCollapse>
        <CustomFormCollapse label="Медиа">
            <CustomSingleImage
                ref="mainimage"
                :image="form.img"
                label="Обложка номера"
            />
            <CustomImage
                label="Изображения для большого слайдера"
                :images="form.slides"
                ref="imagesinput"
            />
            <CustomImage
                label="Изображения для галереи"
                :images="form.gallery"
                ref="galleryimagesinput"
            />
        </CustomFormCollapse>
        <CustomFormCollapse label="Прайс">
            <HotelRoomPrice v-model="form.pricies" />
        </CustomFormCollapse>
        <CustomFormCollapse label="Фишки">
            <HotelRoomFeatures ref="features" v-model="form.features" />
        </CustomFormCollapse>

        <b-button type="submit" variant="primary">Сохранить</b-button>
    </b-form>
</template>

<script lang="ts">
    import { Vue, Component, Prop } from 'nuxt-property-decorator';

    import { errorStore, hotelRoomStore } from '@/store';

    import { Feature, HotelRoom as HotelRoomSchema } from '@/types/hotelRoom';
    import { Image as ImageSchema } from '@/types/image';

    import CustomImage from '@/components/common/cusomInputs/CustomImage';
    import CustomSingleImage from '@/components/common/cusomInputs/CustomImage/CustomSingleImage.vue';
    import CustomFormCollapse from '@/components/common/cusomInputs/CustomCollapse/CustomFormCollapse.vue';
    import HotelRoomPrice from '@/components/pages/hotelRooms/price/HotelRoomPrice.vue';
    import HotelRoomFeatures from '@/components/pages/hotelRooms/features/HotelRoomFeatures.vue';
    import {
        validateMetatitle,
        validateMiddleText,
        validateBigText,
    } from '@/helpers/validationHelpers';

    @Component({
        components: {
            CustomImage,
            CustomFormCollapse,
            HotelRoomPrice,
            HotelRoomFeatures,
        },
    })
    export default class HotelRoomMain extends Vue {
        form: HotelRoomSchema = {
            id: 0,
            img: {
                id: 0,
                src: '',
            },
            title: '', //100
            intro: '', //500
            description: '', //2000
            features: [],
            pricies: [],
            busy_dates: [],
            gallery: [],
            slides: [],
        };
        mainImageId: number = 0;
        slideImagesIdes: number[] = [];
        galleryImagesIdes: number[] = [];

        get hotelRoom(): HotelRoomSchema {
            let result: any = hotelRoomStore.HOTEL_ROOMS.find(elem => {
                return elem.id == +this.$route.params.numberId;
            });
            if (result !== undefined) {
                return result;
            }
            return hotelRoomStore.HOTEL_ROOMS[0];
        }

        get validateTitle(): boolean | null {
            return validateMetatitle(this.form.title);
        }
        get validateIntro(): boolean | null {
            return validateMiddleText(this.form.intro);
        }
        get validateDescription(): boolean | null {
            return validateBigText(this.form.description);
        }

        async onSubmit(): Promise<void> {
            if (
                this.validateTitle !== true ||
                this.validateDescription !== true ||
                this.validateDescription !== true
            ) {
                errorStore.SET_ERROR({
                    status: false,
                    title: 'Форма содержит ошибки',
                });
                return;
            }

            // @ts-ignore
            this.slideImagesIdes = await this.$refs.imagesinput.getIdes();
            // @ts-ignore
            this.galleryImagesIdes =
                // @ts-ignore
                await this.$refs.galleryimagesinput.getIdes();
            // @ts-ignore
            this.mainImageId = await this.$refs.mainimage.getId();
            // @ts-ignore
            await this.$refs.features.getId();

            this.form.features.forEach(item => {
                // @ts-ignore;
                item.img = item.newImageId;
            });
            await hotelRoomStore.EDIT_HOTEL_ROOM({
                id: this.form.id,
                img: this.mainImageId,
                title: this.form.title,
                intro: this.form.intro,
                description: this.form.description,
                features: this.form.features,
                pricies: this.form.pricies,
                busy_dates: '',
                gallery: this.galleryImagesIdes,
                slides: this.slideImagesIdes,
            });
            this.$router.push({ name: 'numbers' });
        }

        copyHotelRoom(): void {
            //image
            this.form.img.id = this.hotelRoom.img.id;
            this.form.img.src = this.hotelRoom.img.src;
            //simple fields
            this.form.id = this.hotelRoom.id;
            this.form.title = this.hotelRoom.title;
            this.form.description = this.hotelRoom.description;
            this.form.intro = this.hotelRoom.intro;
            this.form.busy_dates = this.hotelRoom.busy_dates;
            //features
            this.form.features = [];
            this.hotelRoom.features.forEach(elem => {
                this.form.features.push({
                    title: elem.title,
                    description: elem.description,
                    img: {
                        id: elem.img.id,
                        src: elem.img.src,
                    },
                });
            });
            //pricies
            this.form.pricies = [];
            this.hotelRoom.pricies.forEach(elem => {
                this.form.pricies.push({
                    periud: elem.periud,
                    value: elem.value,
                });
            });
            //slides
            this.form.slides = [];
            this.hotelRoom.slides.forEach(slide => {
                this.form.slides.push({
                    id: slide.id,
                    src: slide.src,
                });
            });
            //gallery
            this.form.gallery = [];
            this.hotelRoom.gallery.forEach(gallery => {
                this.form.gallery.push({
                    id: gallery.id,
                    src: gallery.src,
                });
            });
        }

        async fetch() {
            if (!hotelRoomStore.HOTEL_ROOMS.length) {
                await hotelRoomStore.LOAD_HOTEL_ROOMS();
            }
            this.copyHotelRoom();
        }
    }
</script>

<style lang="scss">
    @import '~@/assets/scss/custom.scss';
    .hotel-rooms-main-edit__form-width {
    }
</style>
