<template>
    <div class="">
        <div class="hotel-rooms-list__add-button-container">
            <b-button
                variant="primary"
                type="button"
                class="hotel-rooms-list__add-button"
                @click="onAddItem()"
                >Добавить
                <font-awesome-icon icon="plus" />
            </b-button>
        </div>
        <b-table
            show-empty
            responsive
            :striped="true"
            :items="hotelRooms"
            :fields="fields"
            :empty-text="'Нет записей для отображения'"
            :per-page="Infinity"
            class="hotel-rooms-list"
        >
            <template v-slot:cell(actions)="row">
                <b-button
                    type="button"
                    class="btn mt-1 mb-1 ml-1 mr-1 hotel-rooms-list__edit-button"
                    @click="onOpenItem(row.item.id)"
                    title="Редактировать"
                >
                    <font-awesome-icon icon="edit" />
                </b-button>

                <b-button
                    type="button"
                    variant="danger"
                    class="mt-1 mb-1 ml-1 mr-1"
                    @click="onDeleteItem(row.item)"
                    title="Удалить"
                >
                    <font-awesome-icon icon="trash" />
                </b-button>
            </template>
        </b-table>
        <b-modal
            v-model="showDeleteModal"
            title="Удалить номер?"
            @ok="onPermitDelete()"
        >
            <p class="my-4">
                {{
                    `Вы уверены, что хотите удалить номер ${activeItem.title} ?`
                }}
            </p>
        </b-modal>
    </div>
</template>

<script lang="ts">
    import { Vue, Component, Prop } from 'nuxt-property-decorator';

    import { errorStore, hotelRoomStore } from '@/store';

    import { HotelRoom as HotelRoomSchema } from '@/types/hotelRoom';

    import { library } from '@fortawesome/fontawesome-svg-core';
    import { faEdit, faTrash, faPlus } from '@fortawesome/free-solid-svg-icons';
    import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
    // @ts-ignore
    library.add(faEdit, faTrash, faPlus);

    @Component({
        components: {
            FontAwesomeIcon,
        },
    })
    export default class MainPageMain extends Vue {
        showDeleteModal: boolean = false;
        activeItem: HotelRoomSchema = {} as HotelRoomSchema;

        fields: any = [
            {
                key: 'title',
                label: 'Загаловок',
                sortable: true,
                sortDirection: 'desc',
            },
            {
                key: 'actions',
                label: 'Действия',
                class: 'hotel-rooms-list__actions',
            },
        ];

        get hotelRooms(): HotelRoomSchema[] {
            return hotelRoomStore.HOTEL_ROOMS;
        }

        onOpenItem(id: number): void {
            this.$router.push(`/numbers/edit/${id}`);
        }
        onAddItem(): void {
            this.$router.push({ name: 'numbers-add' });
        }
        onDeleteItem(contact: HotelRoomSchema): void {
            this.activeItem = contact;
            this.showDeleteModal = true;
        }

        async onPermitDelete() {
            await hotelRoomStore.DELETE_HOTEL_ROOM(this.activeItem.id);
            await hotelRoomStore.LOAD_HOTEL_ROOMS();
        }

        async fetch() {
            await hotelRoomStore.LOAD_HOTEL_ROOMS();
        }
    }
</script>

<style lang="scss">
    @import '~@/assets/scss/custom.scss';
    .hotel-rooms-list {
        @include page-width;

        td {
            vertical-align: middle !important;
        }

        &__add-button-container {
            margin: 0 0 10px 0;
            text-align: right;
            width: 100%;
        }

        &__actions {
            width: 150px;
        }

        &__edit-button {
            background-color: $primary;
            color: $light;
        }
    }
</style>
