<template>
    <div class="hotel-rooms">
        <div class="hotel-rooms__title-container">
            <h2 class="hotel-rooms__title">Номера</h2>
            <b-tabs pills content-class="mt-3">
                <b-tab
                    v-for="(tab, i) of tabs"
                    :key="`tab${i}`"
                    @click="activeTab = tab.label"
                    :title="tab.title"
                    :active="activeTab === tab.label"
                ></b-tab>
            </b-tabs>
        </div>

        <div class="hotel-rooms__body">
            <HotelRoomMainEdit v-if="activeTab === 'main'" />
            <HotelRoomSeo v-if="activeTab === 'seo'" />
        </div>
    </div>
</template>

<script lang="ts">
    import { Vue, Component, Prop } from 'nuxt-property-decorator';

    import HotelRoomMainEdit from '@/components/pages/hotelRooms/HotelRoomMainEdit.vue';
    import HotelRoomSeo from '@/components/pages/hotelRooms/HotelRoomSeo.vue';

    @Component({
        components: {
            HotelRoomMainEdit,
            HotelRoomSeo,
        },
    })
    export default class MainPage extends Vue {
        activeTab: string = 'main';

        tabs: any = {
            main: {
                label: 'main',
                title: 'Основное',
            },
            seo: {
                label: 'seo',
                title: 'SEO',
            },
        };
    }
</script>

<style lang="scss">
    @import '~@/assets/scss/custom.scss';
    .hotel-rooms {
        @include page-width;
        &__title-container {
            background-color: $light;
            padding: 15px;
        }

        &__body {
            padding: 15px;
            border: solid 1px $light;
        }

        &__title {
            @include h1;
            color: $dark;
            color: $primary;
            font-size: 3rem;
        }
    }
</style>
