<template>
    <b-form @submit.prevent="onSubmit" class="main-page-main__form-width">
        <b-form-group
            id="input-group-1"
            label="Загаловок страницы:"
            label-for="input-1"
        >
            <b-form-input
                :state="validateTitle"
                id="input-1"
                type="text"
                placeholder="Введите загаловок страницы"
                required
                v-model="form.title"
            ></b-form-input>
        </b-form-group>

        <CustomImage
            label="Изображения для большого слайдера"
            :images="form.slides"
            ref="imagesinput"
        />

        <b-form-group
            id="input-group-2"
            label="Описание страницы:"
            label-for="input-2"
        >
            <b-textarea
                :state="validateDescription"
                id="input-2"
                placeholder="Введите описание страницы"
                v-model="form.description"
                required
            ></b-textarea>
        </b-form-group>

        <b-button type="submit" variant="primary">Сохранить</b-button>
    </b-form>
</template>

<script lang="ts">
    import { Vue, Component, Prop } from 'nuxt-property-decorator';

    import { errorStore, mainPageStore } from '@/store';

    import { MainPageData as MainPageDataSchema } from '@/types/MainPageData';
    import { Image as ImageSchema } from '@/types/image';

    import CustomImage from '@/components/common/cusomInputs/CustomImage';
    import {
        validateMetatitle,
        validateBigText,
    } from '@/helpers/validationHelpers';

    @Component({
        components: {
            CustomImage,
        },
    })
    export default class MainPageMain extends Vue {
        form: MainPageDataSchema = {
            title: '',
            slides: [],
            description: '',
        };
        slideImagesIdes: number[] = [];

        get validateTitle(): boolean | null {
            return validateMetatitle(this.form.title);
        }
        get validateDescription(): boolean | null {
            return validateBigText(this.form.description);
        }

        copyPageData(): void {
            this.form.title = mainPageStore.MAIN_PAGE.title;
            this.form.description = mainPageStore.MAIN_PAGE.description;
            this.form.slides = mainPageStore.MAIN_PAGE.slides;
        }

        async onSubmit(): Promise<void> {
            console.log();
            if (
                this.validateTitle !== true ||
                this.validateDescription !== true
            ) {
                errorStore.SET_ERROR({
                    status: false,
                    title: 'Форма содержит ошибки',
                });
                return;
            }

            // @ts-ignore
            this.slideImagesIdes = await this.$refs.imagesinput.getIdes();
            await mainPageStore.EDIT_MAIN_PAGE({
                title: this.form.title,
                description: this.form.description,
                slides: this.slideImagesIdes,
            });
            await mainPageStore.LOAD_MAIN_PAGE();
            this.copyPageData();
        }

        async fetch() {
            await mainPageStore.LOAD_MAIN_PAGE();
            this.copyPageData();
        }
    }
</script>

<style lang="scss">
    @import '~@/assets/scss/custom.scss';
    .main-page-main__form-width {
    }
</style>
