<template>
    <div class="custom-text-editor">
        <b-tabs content-class="mt-3">
            <b-tab
                v-for="(tab, i) of tabs"
                :key="`tab${i}`"
                @click="activeTab = tab.label"
                :title="tab.title"
                :active="activeTab === tab.label"
            ></b-tab>
        </b-tabs>
        <div v-show="activeTab === 'editor'" class="custom-text-editor__editor">
            <div class="" id="editor-toolbar"></div>
            <div class="" id="editor"></div>
        </div>
        <div v-show="activeTab === 'html'" class="custom-text-editor__classic">
            <b-form-textarea v-model="text"></b-form-textarea>
        </div>
    </div>
</template>

<script lang="ts">
    import { Vue, Component, Watch } from 'nuxt-property-decorator';

    @Component({})
    export default class CustomTextEditor extends Vue {
        text: string = '';
        DecoupledEditor: any = null;
        editorConfig: any = {
            toolbar: [
                'heading',
                '|',
                'Aligment',
                'bold',
                'italic',
                'link',
                '|',
                'bulletedList',
                'numberedList',
                'blockQuote',
                '|',
                'undo',
                'redo',
            ],
            heading: {
                options: [
                    {
                        model: 'paragraph',
                        title: 'Paragraph',
                        class: 'ck-heading_paragraph',
                    },
                    {
                        model: 'heading1',
                        view: 'h1',
                        title: 'Heading 1',
                        class: 'ck-heading_heading1',
                    },
                    {
                        model: 'heading2',
                        view: 'h2',
                        title: 'Heading 2',
                        class: 'ck-heading_heading2',
                    },
                ],
            },
        };

        activeTab: string = 'editor';
        tabs: any = {
            editor: {
                label: 'editor',
                title: 'Редактор',
            },
            html: {
                label: 'html',
                title: 'Html',
            },
        };
        initEditor(): void {
            this.DecoupledEditor.create(
                document.querySelector('#editor'),
                this.editorConfig,
            )
                .then((editor: any) => {
                    const toolbarContainer: any =
                        document.querySelector('#editor-toolbar');
                    toolbarContainer.appendChild(
                        editor.ui.view.toolbar.element,
                    );
                })
                .catch((error: any) => {
                    // eslint-disable-next-line no-console
                    console.error(error);
                });
        }
        mounted() {
            if (process.browser)
                this.DecoupledEditor = require('@ckeditor/ckeditor5-build-decoupled-document');
            this.initEditor();
        }
    }
</script>

<style lang="scss"></style>
