<template>
    <div class="auth-page">
        <AuthForm />
    </div>
</template>

<script lang="ts">
    import { Vue, Component } from 'nuxt-property-decorator';
    import AuthForm from '@/components/auth/AuthForm.vue';
    import { component } from 'vue/types/umd';

    @Component({
        layout: 'auth',
        components: {
            AuthForm,
        },
    })
    export default class AuthPage extends Vue {}
</script>

<style lang="scss">
    @import '~@/assets/scss/custom.scss';

    .auth-page {
        background-color: $light;
        min-height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
    }
</style>
